#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
}

input {
  margin: 10px;
  padding: 12px;
}

